<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/head::head"></head>
<body>
<!-- cabecera -->
<header th:insert="layouts/header::header"></header>
<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6" style="width: 18rem;">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/img/tiempo.png" width="304" height="236">
                <div class="card-body">
                    <h5 class="card-title">Consulta el tiempo</h5>
                    <p class="card-text">Consulta el tiempo de la ciudad que desees entre los países dados</p>
                </div>
            </div>
        </div>

        <form class="input-group md-form form-sm form-2 pl-0 red-border" method="GET"
              action="/tpociudades.html">

            <select class="mdb-select colorful-select dropdown-primary md-form" name="country" searchable="Search here..">
                <option value="" disabled selected>Elige el país...</option>
                <option value="es">España</option>
                <option value="pt">Portugal</option>
                <option value="fr">Francia</option>
            </select>

            <input class="form-control my-0 py-1 red-border" type="text" name="search" placeholder="Search"
                   aria-label="Search">
            <div class="input-group-append red-border">
                <button type="submit" class="input-group-text red lighten-3" id="basic-text1">
                    <i class="fas fa-search text-grey" aria-hidden="true"></i>
                </button>
            </div>
        </form>
        <div class="row justify-content-md-center" th:if="${tiempo != null && tiempo.weather != null}">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Temperatura</th>
                    <th scope="col">Humedad</th>
                    <th scope="col">Viento</th>
                    <th scope="col">Nubosidad</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <img th:src="@{'http://openweathermap.org/img/wn/' + ${tiempo.weather[0].icon} + '@2x.png'}"/>
                        <span th:text="${tiempo.main.temp + ' ºC'}"></span>
                    </td>
                    <td>
                        <span th:text="${tiempo.main.humidity + ' %'}"></span>
                    </td>
                    <td><span th:text="${tiempo.wind.speed + ' km/h'}"></span>
                    </td>
                    </td>
                    <td><span th:text="${tiempo.clouds.all + ' %'}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="row justify-content-md-center" th:if="${tiempo != null && tiempo.weather == null && q != null && c != null}">
            No existe la ciudad con los parámetros indicados
        </p>
    </div>
</div>
<style>
.red {
    background-color: #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a !important;
}

.red-border {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: 1px solid #ef9a9a !important;
}
.container {
    margin-top: 20px;
}
.justify-content-md-center {
    margin-top: 20px;


}

</style>
</body>
</html>